kornia
pandas-bokeh
pytorch-lightning
deepwave
git+https://github.com/AdamCobb/hamiltorch
  

# install NVIDIA DALI
--extra-index-url https://developer.download.nvidia.com/compute/redist
nvidia-dali-cuda110
